<div class="header">
  <img src='../../assets/img/Logo_Final.png' alt="Logo" />
  <button (click)="toggleMenu()">
    <span class="menu-icon">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </span>
    <div class="menu" [ngClass]="{'show': menuOpen}">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">SUBAA Team</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
    </div>
  </button>
</div>