<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contact Us!</h1>
    </div>
  </div>
</section>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<section class="section">
  <div class="container">
    <!-- Contact Form -->
    <form (ngSubmit)="submitForm()">
      <!-- First Name -->
      <div class="field">
        <label class="label">First Name</label>
        <input type="text" name="firstName" class="input" [(ngModel)]="firstName" />
      </div>

      <!-- Last Name -->
      <div class="field">
        <label class="label">Last Name</label>
        <input type="text" name="lastName" class="input" [(ngModel)]="lastName" />
      </div>

      <!-- Phone Number -->
      <div class="field">
        <label class="label">Phone Number</label>
        <input type="tel" name="phoneNumber" class="input" [(ngModel)]="phoneNumber" />
      </div>

      <!-- Email ID -->
      <div class="field">
        <label class="label">Email ID</label>
        <input type="email" name="email" class="input" [(ngModel)]="email" />
        <div *ngIf="emailInvalid" class="help is-danger">Invalid email address</div>
      </div>

      <!-- Message -->
      <div class="field">
        <label class="label">Your Message</label>
        <textarea
          name="message"
          class="textarea"
          [(ngModel)]="message"
        ></textarea>
      </div>

      <!-- Captcha -->
      <div class="field">
        <label class="label">Captcha</label>
        <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div>   <!-- Need to fill in our Site Key made with SUBAA GMail ID -->
        <div *ngIf="captchaInvalid" class="help is-danger">Invalid captcha</div>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="button is-large is-warning" [disabled]="!emailValid || !captchaValid">Submit!</button>
    </form>
  </div>
</section>